{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Index</h2>
    <p>Hello and welcome! This simple website is about my two cats, Zebra and Tater Tot.</p>
    <p>This was made using Flask for UMGC's SDEV 300 class. All photos were taken by me.</p>
    <p>Thank you for browsing and I hope you enjoy!</p>
    <p>I need three external links so <a href="https://youtu.be/ksnt3kBR9iM">here</a> is a link to a very silly cat video on YouTube that I do not own.</p>
{% endblock %}