{% extends "base.html" %}
{% block title %}Tater Tot{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Facts about Tater Tot</h2>
    <h3>Quick facts</h3>
    <ul>
        <li>(Almost) 5 years old</li>
        <li>Black cat</li>
        <li>Female</li>
        <li>9 lb</li>
    </ul>
    <h3>Favorite foods</h3>
    <ol>
      <li>Cheese</li>
      <li>Fish</li>
      <li>Chicken</li>
      <li>Any other human food that isn't veggies or fruit</li>
      <li>Her actual wet canned food</li>
      <li>Her actual dry food</li>
    </ol>
    <h3>Pictures</h3>
    <a href="https://photos.app.goo.gl/7HXXeSPzzki3gDmR7">Pictures of Tater Tot</a>
{% endblock %}